.backtotop {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #EDE9E4;
    filter: drop-shadow(2px 2px 20px blue);
    text-align: center;
}

body {
    background-color: #EDE9E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgb(101, 131, 152);
    width: 100%;
    height: 6vh;
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: center;
    z-index: 1;
    padding: 2.5%;
}

/*.title-wordmark {
    color: rgb(255, 255, 255);
    position: relative;
    z-index:2;

    font-size:14px;
    padding-right:50px;

    margin-top: 1.6vh;
}*/

.words {
    font-family: "Kadwa-Regular", serif;
    font-size: 1.1rem;
    padding: 10px;
    text-align: right;
    color: white;
}

.words a {
    font-family: "Kadwa-Regular", serif;
    font-size: 1.1rem;
    padding: 10px;
    text-align: right;
    color: white;
    text-decoration: none;
}

.navigation .words:first-child {
    margin-right: auto; /* 将第一个元素推到左侧 */
    text-align: left;
}

@font-face {
    font-family: 'EncodeSans-Bold';
    src: url('/oc_world/fonts/EncodeSans-Bold.woff') format('woff'),
         url('/oc_world/fonts/EncodeSans-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/EncodeSans-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/oc_world/fonts/MavenPro-Regular.woff') format('woff'),
         url('/oc_world/fonts/MavenPro-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/MavenPro-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'Kadwa-Regular';
    src: url('/oc_world/fonts/Kadwa-Regular.woff') format('woff'),
         url('/oc_world/fonts/Kadwa-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/Kadwa-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('/oc_world/fonts/IstokWeb-Bold.woff') format('woff'),
         url('/oc_world/fonts/IstokWeb-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/IstokWeb-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

.title {
    max-width: 90%;
    padding-top: 100px; /* 避开导航栏 */
    padding-bottom: 30px;
    padding-left: 5%;
}

.title h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 5%;
    color: #526D82;
}

.title p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 4.5%;
    color: #526D82;
}

.title-p p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 4.5%;
    color: #526D82;
}

@media screen and (max-width: 420px) {
    .title h1 {
        font-size: 2.5rem;
    }

    .title p {
        font-size: 1rem;
    }

    .title-p p {
        font-size: 1rem;
    }

    .words {
        font-size: 0.1rem;
    }

    .words a {
        font-size: 0.1rem;
    }
}