.backtotop {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #EDE9E4;
    filter: drop-shadow(2px 2px 20px blue);
    text-align: center;
}

body {
    background-color: #EDE9E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgb(101, 131, 152);
    width: 100%;
    height: 6vh;
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: center;
    z-index: 1;
    padding: 2.5%;
}

/*.title-wordmark {
    color: rgb(255, 255, 255);
    position: relative;
    z-index:2;

    font-size:14px;
    padding-right:50px;

    margin-top: 1.6vh;
}*/

.words {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.8rem;
    padding: 10px;
    text-align: right;
    color: white;
}

.words a {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.8rem;
    padding: 10px;
    text-align: right;
    color: white;
    text-decoration: none;
}

.navigation .words:first-child {
    margin-right: auto; /* 将第一个元素推到左侧 */
    text-align: left;
}

@font-face {
    font-family: 'EncodeSans-Bold';
    src: url('/oc_world/fonts/EncodeSans-Bold.woff') format('woff'),
         url('/oc_world/fonts/EncodeSans-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/EncodeSans-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/oc_world/fonts/MavenPro-Regular.woff') format('woff'),
         url('/oc_world/fonts/MavenPro-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/MavenPro-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'Kadwa-Regular';
    src: url('/oc_world/fonts/Kadwa-Regular.woff') format('woff'),
         url('/oc_world/fonts/Kadwa-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/Kadwa-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('/oc_world/fonts/IstokWeb-Bold.woff') format('woff'),
         url('/oc_world/fonts/IstokWeb-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/IstokWeb-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

.ocpersonalities {
    max-width: 90%;
    padding-top: 100px; /* 避开导航栏 */
    padding-bottom: 50px;
    padding-left: 6%;
    overflow-x: hidden;
}

.ocpersonalities {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 7%;
    padding-bottom: 2%;
    color: #526D82;
}

.ocpersonalities p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #526D82;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1%;
    overflow-x: hidden;
}

.forms-background {
    background-color: #CDCFD0;
    width: 100%;
}

.forms-text {
    width: 100%;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.forms-text h1{
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    color: #526D82;
    margin-bottom: 1%;
}

.forms-text p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #526D82;
    margin-bottom: 1%;
}

.forms-images-oc {
    width: 100%;
    height: auto;
    display: flex;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 4%;
}

.forms-images-oc img {
    width: 100%;
    height: auto;
}

.forms-world-text {
    width: 100%;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.forms-world-text h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    color: #526D82;
    margin-bottom: 1%;
}

.forms-world-text p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #526D82;
    margin-bottom: 1%;
}

.forms-images-world {
    width: 100%;
    height: auto;
    display: flex;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 4%;
}

.forms-images-world img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 430px) {
    .ocpersonalities h1 {
        font-size: 2.8rem;
    }

    .forms-text h1 {
        font-size: 2.3rem;
    }

    .forms-world-text h1 {
        font-size: 2.3rem;
    }

    .ocpersonalities p {
        font-size: 0.8rem;
        margin: 0;
    }

    .forms-text p {
        font-size: 0.8rem;
        margin: 0;
    }

    .forms-world-text p {
        font-size: 0.8rem;
        margin: 0;
    }

    .forms-images-oc {
        margin-left: auto;
        margin-right: 0;
    }

    .forms-images-world {
        margin-left: auto;
        margin-right: 0;
    }

    .navigation {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 0.3%;
        row-gap: 2px;
    }

    .words {
        font-size: 0.5rem;
        white-space: nowrap;
        text-align: center;
        padding: 3px;
    }

    .navigation .words:first-child {
        text-align: center;
        margin-right: 0;
    }

    .words a {
        font-size: 0.5rem;
    }
}