/*Back to top button*/
.backtotop {
    display: flex;
    font-family: "Kadwa-Regular", serif;
    color: #526D82;
    position: fixed;
    opacity: 0.3;
    right: 1.8%;
    bottom: 4%;
    /*Tutorials from https://www.w3schools.com/cssref/css3_pr_border-radius.php*/
    border-radius: 5px;
    padding-top: auto;
    font-size: 2rem;
    width: 100px;
    height: 40px;
    background-color: #EDE9E4;
    filter: drop-shadow(2px 2px 20px #3E5879);
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}



/*Global Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*navigation bare*/
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    /*flex-direction: row-reverse;*/
    z-index: 1;
    padding: 2.5%;
    align-items: center;
    justify-content: space-between;
    background-color: #658398;

    box-shadow: 0 6px 12px #526D82;
}



/*Text styles inside the navigation bar*/
.words {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.9rem;
    padding: 10px;
    text-align: right;
    color: white;
}

.words a {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.9rem;
    padding: 10px;
    text-align: right;
    color: white;
    text-decoration: none;
}

/*Tutorials from https://www.w3schools.com/cssref/sel_firstchild.php*/
.navigation .words:first-child {
    text-align: left;
    margin-right: auto;
}



/*Font Import*/
/*Tutorials from https://github.com/lange-lange/css-custom-web-fonts/blob/main/css/styles.css*/
/*Downloaded .ttf from https://fonts.google.com/specimen/Encode+Sans*/
@font-face {
    font-family: 'EncodeSans-Bold';
    src: url('/oc_world/fonts/EncodeSans-Bold.woff') format('woff'),
         url('/oc_world/fonts/EncodeSans-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/EncodeSans-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}

/*Downloaded .ttf from https://fonts.google.com/specimen/Maven+Pro*/
@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/oc_world/fonts/MavenPro-Regular.woff') format('woff'),
         url('/oc_world/fonts/MavenPro-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/MavenPro-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}

/*Downloaded .ttf from https://fonts.google.com/specimen/Kadwa*/
@font-face {
    font-family: 'Kadwa-Regular';
    src: url('/oc_world/fonts/Kadwa-Regular.woff') format('woff'),
         url('/oc_world/fonts/Kadwa-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/Kadwa-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}

/*Downloaded .ttf from https://fonts.google.com/specimen/Istok+Web*/
@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('/oc_world/fonts/IstokWeb-Bold.woff') format('woff'),
         url('/oc_world/fonts/IstokWeb-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/IstokWeb-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal;
}


/*OC personal Title and Profile area*/
.ocpersonalities {
    max-width: 90%;
    padding-top: 100px; /* 避开导航栏 */
    padding-bottom: 50px;
    padding-left: 0;
    margin: auto;
    overflow-x: hidden;
}

/*OC personal Title text*/
.ocpersonalities h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #526D82;
}

/*OC personal paragraphs*/
.ocpersonalities p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 0.5%;
    padding-bottom: 2%;
    color: #526D82;
}


/*Main forms as a whole*/
.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1%;
    overflow-x: hidden;
}

/*character forms background color*/
.forms-background {
    width: 100%;
    background-color: #658398;
}

/*character forms text*/
.forms-text {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

/*character forms title*/
.forms-text h1{
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    color: #CDCFD0;
}

/*character forms paragraphs*/
.forms-text p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: #CDCFD0;
}

/*character forms pinture*/
/*Image sourced from https://ca.pinterest.com/pin/1337074887179412/*/
.forms-images-oc {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 0.5%;
    padding-bottom: 4%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.forms-images-oc img {
    width: 90%;
    height: auto;
    max-width: 400px;
    display: block;
}


/*world forms text*/
.forms-world-text {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

/*world forms title*/
.forms-world-text h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    color: #526D82;
}

/*world forms paragraphs*/
.forms-world-text p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 0.5%;
    padding-bottom: 1%;
    text-align: center;
    color: #526D82;
}


/*world forms pinture*/
.forms-images-world {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 1%;
    padding-bottom: 4%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.forms-images-world img {
    width: 90%;
    height: auto;
    max-width: 400px;
    display: block;
}


/*Media queries*/
/*Tutorials from https://www.w3schools.com/cssref/atrule_media.php*/
@media screen and (max-width: 430px) {
    .ocpersonalities h1 {
        font-size: 2.8rem;
    }

    .forms-text h1 {
        font-size: 2.3rem;
    }

    .forms-world-text h1 {
        font-size: 2.3rem;
    }

    .ocpersonalities p {
        font-size: 0.8rem;
        margin: 0;
    }

    .forms-text p {
        font-size: 0.8rem;
        margin: 0;
    }

    .forms-world-text p {
        font-size: 0.8rem;
        margin: 0;
    }

    .forms-images-oc {
        margin-left: auto;
        margin-right: 0;
    }

    .forms-images-world {
        margin-left: auto;
        margin-right: 0;
    }

    .navigation {
        display: flex;
        padding: 0.3%;
        row-gap: 2px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .words {
        font-size: 0.5rem;
        padding: 3px;
        white-space: nowrap;
        text-align: center;
    }

    .navigation .words:first-child {
        margin-right: 0;
        text-align: center;
    }

    .words a {
        font-size: 0.5rem;
    }
}