.backtotop {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #EDE9E4;
    filter: drop-shadow(2px 2px 20px blue);
    text-align: center;
}

body {
    background-color: #EDE9E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    /*flex-direction: row-reverse;*/
    z-index: 1;
    padding: 2.5%;
    align-items: center;
    justify-content: space-between;
    background-color: #658398;

    box-shadow: 0 6px 12px #526D82;
}

/*.title-wordmark {
    color: rgb(255, 255, 255);
    position: relative;
    z-index:2;

    font-size:14px;
    padding-right:50px;

    margin-top: 1.6vh;
}*/

.words {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.9rem;
    padding: 10px;
    text-align: right;
    color: white;
}

.words a {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.9rem;
    padding: 10px;
    text-align: right;
    color: white;
    text-decoration: none;
}

.navigation .words:first-child {
    text-align: left;
    margin-right: auto; /* 将第一个元素推到左侧 */
}

@font-face {
    font-family: 'EncodeSans-Bold';
    src: url('/oc_world/fonts/EncodeSans-Bold.woff') format('woff'),
         url('/oc_world/fonts/EncodeSans-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/EncodeSans-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/oc_world/fonts/MavenPro-Regular.woff') format('woff'),
         url('/oc_world/fonts/MavenPro-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/MavenPro-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'Kadwa-Regular';
    src: url('/oc_world/fonts/Kadwa-Regular.woff') format('woff'),
         url('/oc_world/fonts/Kadwa-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/Kadwa-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('/oc_world/fonts/IstokWeb-Bold.woff') format('woff'),
         url('/oc_world/fonts/IstokWeb-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/IstokWeb-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

.startdesign {
    max-width: 90%;
    padding-top: 100px; /* 避开导航栏 */
    padding-bottom: 50px;
    padding-left: 6%;
    overflow-x: hidden;
}

.startdesign h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #526D82;
}

.startdesign p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #526D82;
}

.step {
    display: flex;
    padding-left: 0;
    gap: 4%;
    margin-right: 0;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.step-1-background {
    width: 100%;
    background-color: #658398;
}

.step-1 {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

.step-1-between {
    display: flex;
    gap: 3%;
    margin-bottom: 7%;
    padding-left: 3.5%;
    margin-right: 2vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.step-1 h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #CDCFD0;
}

.step-1-words {
    width: 57%;
}

.step-1-words p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    width: 75%;
    min-width: 400px;
    padding-bottom: 10%;
    padding-left: auto;
    text-align: left;
    flex-wrap: wrap;
    color: #CDCFD0;
}

.step-1-image {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    justify-content: center;
    margin-right: auto;
}

.step-1-image img{
    width: 100%;
    height: auto;
    display: block;
}

.step-2 {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

.step-2-between {
    display: flex;
    gap: 3%;
    margin-bottom: 7%;
    padding-left: 3.5%;
    margin-right: 2vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.step-2 h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 2%;
    text-align: center;
    color: #526D82;
}

.step-2-words {
  width: 57%;
}

.step-2-words p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    width: 75%;
    min-width: 400px;
    padding-bottom: 10%;
    padding-left: auto;
    text-align: left;
    flex-wrap: wrap;
    color: #526D82;
}

.step-2-image {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    justify-content: center;
    margin-right: auto;
}

.step-2-image img{
    width: 100%;
    height: auto;
    display: block;
}

.step-3 {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
}

.step-3-background {
    width: 100%;
    background-color: #658398;
}

.step-3-between {
    display: flex;
    gap: 3%;
    margin-bottom: 5%;
    padding-left: 3.5%;
    margin-right: 2vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.step-3 h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 4%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #CDCFD0;
}

.step-3-words {
  width: 57%;
}

.step-3-words p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    width: 75%;
    min-width: 400px;
    padding-bottom: 10%;
    padding-left: auto;
    text-align: left;
    flex-wrap: wrap;
    color: #CDCFD0;
}

.step-3-image {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    justify-content: center;
    margin-right: auto;
}

.step-3-image img{
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 430px) {
    .startdesign h1 {
        font-size: 2.8rem;
    }

    .step-1 h1 {
        font-size: 2.3rem;
    }

    .step-2 h1 {
        font-size: 2.3rem;
    }

    .step-3 h1 {
        font-size: 2.3rem;
    }

    .startdesign p {
        font-size: 0.8rem;
        margin: 0;
    }

    .step-1-words p {
        font-size: 0.8rem;
        margin: 0;
    }

    .step-2-words p {
        font-size: 0.8rem;
        margin: 0;
    }

    .step-3-words p {
        font-size: 0.8rem;
        margin: 0;
    }

    .step-1-image {
        margin-right: 0;
        margin-left: auto;
    }

    .step-2-image {
        margin-right: 0;
        margin-left: auto;
    }

    .step-3-image {
        margin-right: 0;
        margin-left: auto;
    }

    .navigation {
        display: flex;
        padding: 0.3%;
        row-gap: 2px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .words {
        font-size: 0.5rem;
        padding: 3px;
        white-space: nowrap;
        text-align: center;
    }

    .navigation .words:first-child {
        margin-right: 0;
        text-align: center;
    }

    .words a {
        font-size: 0.5rem;
    }
}