.backtotop {
    position: fixed;
    right: 0.5%;
    bottom: 1%;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #EDE9E4;
    filter: drop-shadow(2px 2px 20px blue);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    /*flex-direction: row-reverse;*/
    z-index: 1;
    padding: 2.5%;
    align-items: center;
    justify-content: space-between;
    background-color: #658398;

    box-shadow: 0 6px 12px #526D82;
}

.words {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.9rem;
    padding: 10px;
    text-align: right;
    color: white;
}

.words a {
    font-family: "Kadwa-Regular", serif;
    font-size: 0.9rem;
    padding: 10px;
    text-align: right;
    color: white;
    text-decoration: none;
}

.navigation .words:first-child {
    text-align: left;
    margin-right: auto; /* 将第一个元素推到左侧 */
}

@font-face {
    font-family: 'EncodeSans-Bold';
    src: url('/oc_world/fonts/EncodeSans-Bold.woff') format('woff'),
         url('/oc_world/fonts/EncodeSans-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/EncodeSans-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/oc_world/fonts/MavenPro-Regular.woff') format('woff'),
         url('/oc_world/fonts/MavenPro-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/MavenPro-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'Kadwa-Regular';
    src: url('/oc_world/fonts/Kadwa-Regular.woff') format('woff'),
         url('/oc_world/fonts/Kadwa-Regular.woff2') format('woff2'),
         url('/oc_world/fonts/Kadwa-Regular.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

@font-face {
    font-family: 'IstokWeb-Bold';
    src: url('/oc_world/fonts/IstokWeb-Bold.woff') format('woff'),
         url('/oc_world/fonts/IstokWeb-Bold.woff2') format('woff2'),
         url('/oc_world/fonts/IstokWeb-Bold.ttf') format('turetype');
    font-weight: normal;
    font-style: normal; /*调整用什么款式的字体的*/
}

/*关于标题和旁边的大小姐图片的*/
.hero-text h1 {
    font-family: "EncodeSans-Bold", sans-serif;
    font-size: 8vw; 
    width: 100%;
    line-height: 1.0;
    color: #526D82;
    text-align: center;
}

.hero-text {
    width: 40%;
    padding-left: 5%;
    min-width: 300px;
    max-width: 500px;
    padding-left: 5%;
    margin-right: 2vw;
    text-align: left;
    text-align: center;
}

.hero-section {
    display: flex;
    padding: 50px;
    gap: 15vw;
    background-color: #EDE9E4; 
    padding-top: 12%;
    padding-bottom: 3%; /* ✅ 减小底部空间，压缩中间缝隙 */
    row-gap: 12px;       /* ✅ 控制标题和图像的垂直间隔 */
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.hero-image {
    display: flex;
    width: 40%;
    height: auto;
    padding-right: 2%;
    /* margin-left: 180px; */
    max-width: 500px;
    min-width: 300px;
    display: block;
    justify-content: center; 
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/*关于宣言的*/
.grid-container {
    display: flex;   
    padding: 15px;
    height: 60px;            
    width: 100%;  
    padding-top: 2.5%;
    padding-bottom: 3%;
    align-items: center;
    background-color: #658398;
}

.grid-container p {
    font-family: "Kadwa-Regular", serif;
    font-size: 2.5vw;
    padding-left: 25%;
    text-align: center;
    color: #CDCFD0;
}

/*四个oc图片和文字的*/
.container {
    display: flex;
    padding: 20px;
    gap: 160px;
    width: 100%;
    padding-top: 76px;
    padding-bottom: 76px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EDE9E4;
}

.container img {
    width: 243.6px;
    height: 243.6px;
    border-radius: 50%;
    margin-bottom: 30px;
    flex-direction: column;
}

.container a {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: #526D82;
}

/*下面第一段文字的*/
.introduction-text {
    padding-left: 5%;
    background-color: #658398;
    padding-bottom: 2%;
    padding-right: 5%;
    flex-direction: row;
    overflow-x: hidden;
}

.introduction-text h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 2%;
    color: #CDCFD0;
}

.introduction-text p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 1%;
    color: #CDCFD0;
}

/*下面第二段文字的*/
.whatisoc-text {
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
    background-color: #EDE9E4;
}

.whatisoc-text h1 {
    font-family: "IstokWeb-Bold", sans-serif;
    font-size: 3.75rem;
    padding-top: 2%;
    color: #526D82;
}

.whatisoc-text p {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 1.25rem;
    padding-top: 1%;
    color: #526D82;
}

.talk-section {
    display: flex;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 4vw;
    justify-content: space-between;
    align-items: center;
    background-color: #658398;
}

.talk-text {
    display: flex;
    gap: 1vw;
    width: 48%;
    padding-left: 8%;
    flex-direction: column;
    justify-content: flex-start;
}

.talk-text h1 {
    font-family: "EncodeSans-Bold", sans-serif;
    font-size: 6vw; 
    line-height: 1;
    width: 100%;
    text-align: left;
    color: #EDE9E4;
}

.talk-text h3 {
    font-family: "MavenPro-Regular", sans-serif;
    font-size: 2vw;
    color: #EDE9E4;
}

.flex-container {
    margin-top: 2vw;
    gap: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-container a img {
    width: 5vw;       /* 根据视口宽度缩放 */
    max-width: 100px;  /* 设置最大宽度 */
    min-width: 30px;   /* 设置最小宽度，防止太小 */
    height: auto;
}

.talk-image {
    display: flex;
    width: 100%;    /* 占满整行 */
    padding-right: 8%;
    justify-content: flex-end;
    align-items: center;
}

.talk-image img {
    width: 60%;
    height: auto;
    display: block;
}

@media screen and (max-width: 430px) {
    .grid-container p {
        font-size: 1rem;
        padding-left: 5%;
    }

    .container a {
        font-size: 1.5rem;
    }

    .introduction-text h1 {
        font-size: 2.5rem;
    }

    .whatisoc-text h1 {
        font-size: 2.5rem;
    }

    .introduction-text p {
        font-size: 1rem;
    }

    .whatisoc-text p {
        font-size: 1rem;
    }

    .navigation {
        display: flex;
        padding: 0.3%;
        row-gap: 2px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .words {
        font-size: 0.5rem;
        padding: 3px;
        white-space: nowrap;
        text-align: center;
    }

    .navigation .words:first-child {
        margin-right: 0;
        text-align: center;
    }

    .words a {
        font-size: 0.5rem;
    }
}